:root{
    --primary: black;
    --secondary: hsl(236, 100%, 10%, 0.8);
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

*::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.pb-rem {
    background: linear-gradient(180deg, #02042b, var(--primary));
    animation: gradient-animation-mid 5s ease infinite;
}
    
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

.FestMent {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

/* header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 100px;
} */

.nav {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}

.menu li a:hover {
    color:rgb(129 140 248);
}


.login:hover {
    background-color: white;
    color: black;
}

.events {
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.subscribe-button:hover {
    background: linear-gradient(90deg, rgb(147 51 234), rgb(109 40 217));
    color: white;
    border-color: black;
}