:root{
    --primary: black;
    --secondary: hsl(236, 100%, 10%, 0.8);
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

*::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(cover-image-1-scaled.png);

}

.FestMent {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

/* header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 100px;
} */
.nav {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 40px;
}

.menu li a:hover {
    color: rgb(129 140 248);
}

.login-button:hover {
    background-color: white;
    color: black;
  }

  .input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 2rem;
}

.input-box:nth-child(2n) {
    justify-content: flex-end;
}


.input-box label {
    width: 95%;
    margin: 5px 0;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 0px solid #ccc;
    outline: none;
}

.input-box-2 {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding-bottom: 15px;
}

.input-box-2 input {
    height: 150px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 0px solid #ccc;
    outline: none;
}

.input-box-2 label {
    width: 95%;
    margin: 5px 0;
}

.alert p{
    font-size: 12px;    
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(129 140 248);
}

.alert a:hover {
    text-decoration: none;
    color: red;
}

.login-button:hover {
    background-color: white;
    color: black;
}

.question-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 20px;
    color:#fff;
    border: solid rgb(79 70 229) 1px;
    border-radius: 5px;
    background-color: #000000cc;
    transition: 0.3s;
}

.question-button:hover {
    background: linear-gradient(90deg, rgb(147 51 234), rgb(109 40 217));
    color: white;
    border-color: black;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}